python/.gitignore
python/app.py
python/CODE_OF_CONDUCT.md
python/LICENSE
python/LICENSE-CODE
python/README.md
python/requirements.txt
python/SECURITY.md
python/data/products.json
python/templates/index.html
dotnet/dotnet.csproj
dotnet/Program.cs
dotnet/.devcontainer/library-scripts/azcli-debian.sh
dotnet/bin/Debug/netcoreapp3.1/dotnet
dotnet/bin/Debug/netcoreapp3.1/dotnet.deps.json
dotnet/bin/Debug/netcoreapp3.1/dotnet.dll
dotnet/bin/Debug/netcoreapp3.1/dotnet.pdb
dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.dev.json
dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.json
dotnet/obj/dotnet.csproj.nuget.dgspec.json
dotnet/obj/dotnet.csproj.nuget.g.props
dotnet/obj/dotnet.csproj.nuget.g.targets
dotnet/obj/project.assets.json
dotnet/obj/project.nuget.cache
dotnet/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
dotnet/obj/Debug/netcoreapp3.1/dotnet
dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfo.cs
dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfoInputs.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.assets.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.CoreCompileInputs.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.FileListAbsolute.txt
dotnet/obj/Debug/netcoreapp3.1/dotnet.csprojAssemblyReference.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.dll
dotnet/obj/Debug/netcoreapp3.1/dotnet.genruntimeconfig.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.pdb
dotnet/obj/Debug/netcoreapp3.1/dotnet.exe
go/main.go
java/my-hw/pom.xml
java/my-hw/src/main/java/com/cloudplush/hw/App.java
java/my-hw/src/test/java/com/cloudplush/hw/AppTest.java
java/my-hw/target/my-hw-1.0-SNAPSHOT.jar
java/my-hw/target/classes/com/cloudplush/hw/App.class
java/my-hw/target/maven-archiver/pom.properties
java/my-hw/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
java/my-hw/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
java/my-hw/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
java/my-hw/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
java/my-hw/target/surefire-reports/com.cloudplush.hw.AppTest.txt
java/my-hw/target/surefire-reports/TEST-com.cloudplush.hw.AppTest.xml
java/my-hw/target/test-classes/com/cloudplush/hw/AppTest.class
rust/Cargo.lock
rust/Cargo.toml
rust/src/main.rs
rust/target/.rustc_info.json
rust/target/CACHEDIR.TAG
rust/target/debug/.cargo-lock
rust/target/debug/rust
rust/target/debug/rust.d
rust/target/debug/.fingerprint/rust-873aab197791172c/bin-rust
rust/target/debug/.fingerprint/rust-873aab197791172c/bin-rust.json
rust/target/debug/.fingerprint/rust-873aab197791172c/dep-bin-rust
rust/target/debug/.fingerprint/rust-873aab197791172c/invoked.timestamp
rust/target/debug/deps/rust-873aab197791172c
rust/target/debug/deps/rust-873aab197791172c.d
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p.lock
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/4e64u3kbhg9oal2m.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/4wd1qlp3wpefe3qi.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/17ie9zbw44r9fr2x.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/26kcmb0hupojb044.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/53wjgwqr1ofeujek.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/56fa46teq95dogoi.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/56mj2b50rj377c60.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/345nzm8bj8wq4ax0.o
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/dep-graph.bin
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/query-cache.bin
rust/target/debug/incremental/rust-32lnv975jayoq/s-ft9agaueao-1rk0l7p-22emerk7brcrf/work-products.bin
typescript/index.js
typescript/index.ts
typescript/package.json
typescript/tsconfig.json
