python/.gitignore
python/app.py
python/CODE_OF_CONDUCT.md
python/LICENSE
python/LICENSE-CODE
python/README.md
python/requirements.txt
python/SECURITY.md
python/data/products.json
python/templates/index.html
dotnet/dotnet.csproj
dotnet/Program.cs
dotnet/.devcontainer/library-scripts/azcli-debian.sh
dotnet/bin/Debug/netcoreapp3.1/dotnet
dotnet/bin/Debug/netcoreapp3.1/dotnet.deps.json
dotnet/bin/Debug/netcoreapp3.1/dotnet.dll
dotnet/bin/Debug/netcoreapp3.1/dotnet.pdb
dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.dev.json
dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.json
dotnet/obj/dotnet.csproj.nuget.dgspec.json
dotnet/obj/dotnet.csproj.nuget.g.props
dotnet/obj/dotnet.csproj.nuget.g.targets
dotnet/obj/project.assets.json
dotnet/obj/project.nuget.cache
dotnet/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
dotnet/obj/Debug/netcoreapp3.1/dotnet
dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfo.cs
dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfoInputs.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.assets.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.CoreCompileInputs.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.FileListAbsolute.txt
dotnet/obj/Debug/netcoreapp3.1/dotnet.csprojAssemblyReference.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.dll
dotnet/obj/Debug/netcoreapp3.1/dotnet.genruntimeconfig.cache
dotnet/obj/Debug/netcoreapp3.1/dotnet.pdb
